---
layout: base
---

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1 vcenter idxHdr">
      <div style='font-size: 2em; color: #4582ec; font-weight: bold; padding-bottom: 0.3em;'>Vinayakumar Ravi, PhD</div>
      <div style='font-size: 1.2em;'>
        Assistant Research Professor in AI </br> Center for Artificial Intelligence</br> Prince Mohammad Bin Fahd University, Khobar, Saudi Arabia
      </div>
     
            <div style='font-size: 1.2em'>
       Phone: +966-(0)563318675
       </div>
       
       <div style='font-size: 1.2em'>
       Emails: vinayakumarr77[at]gmail.com vravi[at]pmu.edu.sa
       </div>
     
      <br/>

      <div style="padding: 0.3em; background-color: #4582ec; display: inline-block; border-radius: 4px; font-size: 1.2em;">
        <a href="data/cv-vinay.pdf" target='_blank' style='text-decoration: none;'>
          <i style='color: white' class="fa fa-download"></i>
        </a>
       
        <a href="data/cv-vinay.pdf" target='_blank' style='color: white; text-decoration: none;'>CV</a>
      </div>

      <ul class="list-inline idxIcons" style='font-size: 1.9em; margin-top: 0.5em;'>
        <li>
          <a href="https://github.com/vinayakumarr" target="_blank">
            <i class="fa fa-fw fa-github"></i></a>
        </li>
        <li>
          <a href="http://twitter.com/vinayakumarr88" target="_blank">
            <i class="fa fa-fw fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://scholar.google.co.in/citations?user=oIYw0LQAAAAJ&hl=en&oi=ao" target="_blank">
          <i class="ai ai-google-scholar"></i></a>
        </li>
      
        <li>
          <a href="https://www.linkedin.com/in/vinayakumar-ravi-ab009273/" target="_blank">
            <i class="fa fa-fw fa-linkedin"></i></a>
        </li>
       
        <li>
          <a href="https://www.researchgate.net/profile/Vinayakumar_R" target="_blank">
            <i class="ai ai-researchgate"></i></a>
        </li>
        
         <li>
          <a href="https://orcid.org/0000-0001-6873-6469" target="_blank">
            <i class="ai ai-orcid"></i></a>
        </li>
        
        <li>
          <a href="https://independent.academia.edu/RVinayakumar" target="_blank">
            <i class="ai ai-academia"></i></a>
        </li>
        
     
       
      </ul>
      <hr/>
      <strong>
          I am on the job market for an industry machine learning
          research and academic position.
      </strong>
      <strong></br>I am interested in team research work that helps me to produce better work and I just try to be better than the person I was yesterday.</strong>
    </div>
    <div class="col-md-2 vcenter idxHdr">
      <a href="/images/vinay1.png">
        <img src="/images/vinay1.png"
             style="border-radius: 20px; margin: 10px; max-width: none;"
             alt="Me."/>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>
</div>
